EXPO_PUBLIC_ENABLE_ADS=false
EXPO_LOCAL_DEV_CLIENT=false

EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyyyyy
EXPO_PUBLIC_ADMOB_BANNER_ANDROID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyyyy

EXPO_PUBLIC_ADMOB_IOS_APP_ID=
EXPO_PUBLIC_ADMOB_BANNER_IOS=
